  <style type="text/css">
  .uno 
 {
   background: #555;
   color:white;
 }
  </style>
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-7">
          <div class="col-md-5"> 
            <button type="button" class="btn btn-primary btn-small">Inicio</button>
            <button type="button" class="btn btn-default btn-small">Ingresos Anticipados</button>
          </div>
          <div class="col-md-3"> 
           <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Pedidos Interdepartamentales<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li> uno</li>
              <li> uno</li>
              <li> uno</li>
            </ul>
           </div>
          </div>
          <br />
      </div>
        <div class="col-md-2"> 
          <br />
             Scarlet Johanson a.
             <br /><br /><br /><br />
                <a href="#">Supervisor</a>
          </div>
          <div class="col-md-3"> 
           <br />
           <img class="img-responsive img-thumbnail"  width="120" height= "80" title="scarlet" src="./public/assets/img/users/user.jpg"></img>
           <br />
          </div>
        </div>
      </div>
  <br />

  <div class="container" > 
    <div class="row"> 
        <div class="col-md-2"> </div>
        <div class="col-md-4" style="border-style: solid; border-color:#48c; border-radius:3px"> 
        <h5 style="top:-30px"> REGISTRAR PEDIDOS INTERDEPARTAMENTALES</h5>
               <form>
               <table> <tr><td><label for="exampleInputPassword1">E-mail.</label></td>
               <td><input type="email" class="form" id="exampleInputEmail1" placeholder="Ingrese su e.mail"></td>
               <td></td></tr>
               <tr><td><label for="exampleInputPassword1">Password</label></td>
               <td><input type="password" class="form" id="exampleInputPassword1" placeholder="Password"></td><td></td></tr>
               <tr><td></td><td></td><td></td><td><button type="submit" class="btn btn-default">Submit</button></td></tr>
               </table> 
              </form>
        </div>
        <div class="col-md-6"> </div>
    </div>
  </div>
  <br /> 
  <div class="container" style="border-style: solid; border-color:#48c; border-radius:3px"> 
    <div class="row"> 
    <br />
        <div class="col-md-3"> 
          <button type="button" class="btn btn-default btn-lg">Ingresos Anticipados</button>
        </div>
        <div class="col-md-9"> 
         <div class="table-responsive table table-striped">
            <table class="table ">
              <tr>
                <td class="success">PRODUCTO</td><td class="success">CANTIDAD</td>
              </tr>
              <tr>
                <td class="info">cepillo</td><td class="info">15</td>
              </tr>
              <tr>
                <td class="">toalla</td><td class="">21</td>
              </tr>
              <tr>
                <td class="info">javoncillo</td><td class="info">05</td>
              </tr>
            </table>
          </div>
         </div>
    </div>
  </div>



