<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<link rel="stylesheet" type="text/css" href="../assets/css/botstrap.css">
<div class="body">
		<div id="cabezera">
		   <div class="content">
		   	<article>
		   		<header>
		   		<p style="padding-left: 67%; padding-top: 5%;">
		   			<button type="button"  class="btn btn-primary btn-lg active">Realizar Pedidos</button>
		   		</p>	
		   		</header>
		   	</article>
		   	<article>
		   		<header>
		   			<p style="padding-left: 64%; padding-top: 5%;"><ins> Pedidos  Interdepartamentales</ins></p>
		   		</header>
		   	</article>
		   </div>
			<aside class="sideBar">
				<article>
					<header>
				    	<h4><p  style="padding-left: 41%; padding-top: 2%;">Pablo Paco</p></h4>
					<img src="gt.png">
						
						
					</header>
					<footer>
						<p>hi</p>
					</footer>
				</article>
			</aside>
		</div>
		<div class="clasbody">
			<article>
				<table class="table table-condensed" border="4" >
				
				<tr>
				  <td width="70%" class="active">Fecha</td>
				  <td class="success"></td>
				
				</tr>
				<tr>
				  <td class="active">21/09/2014</td>
				  <td class="success"></td>
				
				</tr>
				<tr>
				  <td class="active">Samuel Cari</td>
				  <td class="success"><a href="#">Detalle</a></td>
				
				</tr>
				<tr>
				  <td class="active">Carlos Rojas</td>
				  <td class="success"><a href="#"> Detalle</a></td>
				
				</tr>
				<tr>
				  <td class="active">20/09/2014</td>
				  <td class="success"></td>
				
				</tr>
				</table>
				<button type="button" class="btn btn-success">Enviar</button>
			</article>
		</div>
</div>
