<style type="text/css">
  .uno 
 /*{
   background: #555;
   color:white;
 }*/
  </style>

<div class="container"></div>

<h3><u><B>REGISTRAR PEDIDOS INTERDEPARTAMENTALES</B></u></h3>
 <div class="col-md-8"> 
            <button type="button" class="btn btn-default btn-small">Inicio</button>
            <button type="button" class="btn btn-default btn-small">Ingresos Anticipados</button>
            <button type="button" class="btn btn-default btn-small">Pedido Interdepartamental</button></div>

            <div class="col-md-3"><button type="button" class="btn btn-default btn-small">Realizar Pedido</button></div>
            
            <div class="col-md-9">
              <img src="./public/assets/img/pedido2.jpg" align="center" width="650" height="400" vspace="30">
            </div>

      <ul>

      </ul>

