<!--   <div class="container">
    <div class="row">
    <h1> Gestor de Presupuesto</h1>
    <table class="table table-bordered table-striped"> 
    <tbody>
        <tr><td>Departamento </td><td>Presupuesto Dep.</td><td>Accion</td></tr>
        <tr><td> Ingenieria  </td><td>Bs. 400         </td><td><button class="btn btn-success">Editar</button></td></tr>
        <tr><td> Enfermeria  </td><td>Bs. 840         </td><td><button class="btn btn-success">Editar</button></td></tr>
        <tr><td> Contaduria  </td><td>Bs. 200         </td><td><button class="btn btn-success">Editar</button></td></tr>
        <tr><td></td><td>Total: Bs<span class="badge">1340</span></td><td></td></tr>
    </tbody></table>

    </div>
  <div ui-view> -->