  <div class="container">
    <div class="row">
    <h1> Hola soy el gestor de pedidos</h1>

    <table class="table table-bordered table-striped"> 
    <tbody><tr><td>Dep. Solicitante </td><td>Detalle Pedido </td><td>Presupuesto Dep.</td><td>Cantidad</td><td>Coste</td><td>Subtotal</td><td> Accion</td></tr>
    <tr><td> Ingenieria           </td><td>Colores   </td><td>Bs. 400</td><td>8 </td><td>2 </td><td>16 </td><td><button class="btn btn-info">Aprobar</button></td></tr>
    <tr><td> Enfermeria           </td><td>Hojas     </td><td>Bs. 40 </td><td>9 </td><td>3 </td><td>27 </td><td><button class="btn btn-info">Aprobar</button></td></tr>
    <tr><td> Contaduria           </td><td>Boligrafos</td><td>Bs. 200</td><td>22</td><td>3</td><td>66</td><td><button class="btn btn-info">Aprovar</button></td></tr>
    <tr><td> </td><td></td><td></td><td></td><td>Total: Bs </td><td><span class="badge">109</span></td><td></td></tr>
    </tbody></table>
    </div>
    
  <div ui-view>