<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
    </div>
    <div class="col-md-9">
      <div class="back">
        <div class="col-md-6"> Aliquam dolor sit diam? Massa a sociis nascetur, pid lectus a? Ut non nunc augue rhoncus in facilisis habitasse elit lundium urna et velit tincidunt a a? In. Ultrices cum.</div>
        <div class="col-md-6"> Velit rhoncus vel, nisi mattis augue velit vel! Dictumst sit mattis? Nascetur augue nascetur non et, elementum penatibus et! Tincidunt nec eu porta enim arcu turpis porttitor a adipiscing.</div>
      </div>
    </div>
    <div class="col-md-9">
      <img src="./public/assets/img/image-template.jpg">
    </div>
  </div>
<style type="text/css">
  
.back {
  background-color: #ECECEC;
  float: left;
}
img {
  width: 100%;
}

</style>
