<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>

<br>
<div class="table-responsive">
  <table class="table table-bordered">
  <!-- On rows -->
<tr class="active"><td class="active">CELDA EJEMPLO ACTIVE</td></tr>
<tr class="success"><td>CELDA</td></tr>
<tr class="warning"><td>CELDA</td></tr>
<tr class="danger"><td>CELDA</td></tr>
<tr class="info"><td>CELDA</td></tr>

<!-- On cells (`td` or `th`) -->
<tr>
  ...</td>
  <td class="success">...</td>
  <td class="warning">...</td>
  <td class="danger">...</td>
  <td class="info">...</td>
</tr>
</table>
</div>
