<div class="container">

  <div class="jumbotron">
    <div class="row" style="float:right;margin: 5px;">
      <div >
        <div class="thumbnail" style="min-height: 25%">
          
          <div class="caption">
            <h4 class="center">Menu</h4>
            <a ui-sref="home.pedidos">Administrar Pedidos</a><br />
            <a ui-sref="home.nuevoPedido">Nuevo Pedido</a><br />
            <a ui-sref="home.pedidos">Ver Fondos</a><br />
            <a ui-sref="home.pedidosSolicitados">Solicitud de Pedidos</a><br />
          </div>
        </div>
      </div>
    </div>
</style>
      <b><h3 class="center">Lista de Pedidos Solicitados</h3></b>
        <br>
        <p>
          Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Nam pretium turpis et arcu. Morbi mollis tellus ac sapien. Curabitur at lacus ac velit ornare lobortis. In ut quam vitae odio lacinia tincidunt.</p>
        
          <div class="table-responsive" style="max-width: 75%;">
            <table class="table table-bordered table-hover ">
              <thead>
              <tr class="active">
                <th class="col-md-1">N°</th>
                <th >DESCRIPCION</th>
                <th >CANTIDAD</th>
                <th >PRECIO TOTAL</th>
                <th class="center">GESTIÓN</th>
              </tr>
              </thead>
              <tbody>
              <tr >
              <td>1</td>
              <td>Ejemplo de descripcion de pedido</td><td>120</td><td>450.20</td>
              <td class="center" >
              <a href=""><span class="label label-info">Ver</span></a>
              <a href=""><span class="label label-success">Editar</span></a>
              <a href=""><span class="label label-danger">Eliminar</span></a></td></tr>
              
              <tr >
              <td>2</td>
              <td>CELDA</td><td>CELDA</td><td>CELDA</td>
              <td class="center" >
              <a href=""><span class="label label-info">Ver</span></a>
              <a href=""><span class="label label-success">Editar</span></a>
              <a href=""><span class="label label-danger">Eliminar</span></a></td></tr>
              
              <tr >
              <td>3</td>
              <td>CELDA</td><td>CELDA</td><td>CELDA</td>
              <td class="center" >
              <a href=""><span class="label label-info">Ver</span></a>
              <a href=""><span class="label label-success">Editar</span></a>
              <a href=""><span class="label label-danger">Eliminar</span></a></td></tr>
              
              <tr >
              <td>4</td>
              <td>CELDA</td><td>CELDA</td><td>CELDA</td>
              <td class="center" >
              <a href=""><span class="label label-info">Ver</span></a>
              <a href=""><span class="label label-success">Editar</span></a>
              <a href=""><span class="label label-danger">Eliminar</span></a></td></tr>
              </tr>
            </tbody>
          </table>
          <br>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>

  </div>

</div>