<div class="container">

  <div class="jumbotron">
    <div class="row" style="float:right;margin: 5px;">
      <div >
        <div class="thumbnail" style="min-height: 25%">
          
          <div class="caption">
            <h4 class="center">Menu</h4>
            <a ui-sref="home.pedidos">Administrar Pedidos</a><br />
            <a ui-sref="home.nuevoPedido">Nuevo Pedido</a><br />
            <a ui-sref="home.pedidos">Ver Fondos</a><br />
            <a ui-sref="home.pedidosSolicitados">Solicitud de Pedidos</a><br />
          </div>
        </div>
      </div>
    </div>
</style>
      <b><h3 class="center">Administración de Pedidos</h3></b>
        <br>
        <p>
          Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Nam pretium turpis et arcu. Morbi mollis tellus ac sapien. Curabitur at lacus ac velit ornare lobortis. In ut quam vitae odio lacinia tincidunt.</p>
          <br>

          <form class="form-horizontal">
           <div class="form-group">
            <label for="precio" class="col-sm-1 control-label">Solicitante:</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="precio" placeholder="Solicitante">
            </div>
          </div>

          </form>
        

        
          





        
          <div class="table-responsive" style="max-width: 75%;">
            <table class="table table-bordered table-hover ">
              <thead>
              <tr class="active">
                <th class="col-md-1">N°</th>
                <th >DETALLE</th>
                <th >CANTIDAD</th>
                <th >PRECIO TOTAL</th>
                <th class="center">OPCIONES</th>
              </tr>
              </thead>
              <tbody>
              <tr >
              <td>1</td>
              <td>Ejemplo de descripcion de pedido</td><td>120</td><td>450.20</td>
              <td class="center" >
              
              <a href=""><span class="label label-success">Editar</span></a>
              <a href=""><span class="label label-danger">Eliminar</span></a></td></tr>
              
              <tr >
              <td>2</td>
              <td>CELDA</td><td>CELDA</td><td>CELDA</td>
              <td class="center" >
              
              <a href=""><span class="label label-success">Editar</span></a>
              <a href=""><span class="label label-danger">Eliminar</span></a></td></tr>
              
              <tr >
              <td>3</td>
              <td>CELDA</td><td>CELDA</td><td>CELDA</td>
              <td class="center" >
              
              
              <tr ng-repeat="pedido in pedidos">
                <td></td>
                <td>{{pedido.detalle}}</td>
                <td>{{pedido.cantidad}}</td>
                <td>{{pedido.precio}}</td>
                <td class="center">
                  <a ng-click="eliminarPedidos($index)"><span class="label label-danger">Eliminar</span></a>
                </td>
              </tr>
              </tr>
              <tr>
              <td></td>
                
                <td>
                  <div class="form-group">
                    <div>
                      <input type="text" class="form-control" ng-model="item.detalle" placeholder="detalle">
                    </div>
                  </div>
                </td>
                <td>
                <div class="form-group">
                <div>
              <input type="text" class="form-control" ng-model="item.cantidad" placeholder="cantidad">
            </div>
          </div>  
                </td>
              <td>
                <div class="form-group">
            <div>
              <input type="text" class="form-control" ng-model="item.precio" placeholder="precio">
            </div>
          </div>  
                </td>
                <td class="center" >
              
                <a ng-click="guardarPedidos(item)"><span class="label label-info">guardar</span></a>
              </tr>
            </tbody>
          </table>
        </div>

  </div>

</div>