<div>
  <H4><p class="text-center">CONTROL PEDIDOS FINANZAS</p></H4>
</div>
<Button  type = "button"  class = "btn btn-default"  etiqueta aria = "Alinear a la izquierda" > 
  <span  class = "glyphicon glyphicon-arrow-left"  aria-hidden = "true" > </span> 
</botón>
<Button  type = "button"  class = "btn btn-default"  etiqueta aria = "Alinear a la izquierda" > 
  <span  class = "glyphicon glyphicon-arrow-right"  aria-hidden = "true" > </span> 
</botón>
<Button  type = "button"  class = "btn btn-default"  etiqueta aria = "Alinear a la izquierda" > 
  <span  class = "glyphicon glyphicon-remove"  aria-hidden = "true" > </span> 
</botón>
<Button  type = "button"  class = "btn btn-default"  etiqueta aria = "Alinear a la izquierda" > 
  <span  class = "glyphicon glyphicon-home"  aria-hidden = "true" > </span> 
</botón></Button> 
<form class="navbar-form navbar-right" role=>
  <div class="form-group">
    <input type="text" class="form-control" placeholder>
  <span  class = "navbar-form navbar-right"  aria-hidden = "true" ></span>
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Inicio</a></li>
  <li role="presentation"><a href="#">Ingresos anticipasdos</a></li>
  <li role="presentation"><a href="#">Pedidos Interdepartamental</a></li>
  <div class="Pedidos Interdepartamentales">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <span class="caret"></span>
  </button>
<div>
  <H6><u><p class="text-center">REGISTRAR PEDIDIOS INTERDEPARTAMENTALES</p></u>></H6>
</div>