  <style type="text/css">
.uno 
{
  background: #555;
  color:white;
}
  </style>
  <div class="container"> 
    <div class="row"> 
          <div class="col-md-4"> 
            <button type="button" class="btn btn-primary btn-lg">Inicio</button>
            <button type="button" class="btn btn-default btn-lg">Ingresos Anticipados</button>
          </div>
          <div class="col-md-3"> 
           <br /><br />
            <button type="button" class="btn btn-default btn-lg btn-block">Realizar Pedido</button>
            <button type="button" class="btn btn-default btn-lg btn-block">Pedidos Autorizadas</button>
          </div>
          <div class="col-md-2"> 
             <br />
             Scarlet Johanson a.
             <br /><br /><br /><br />
                <button type="button" class="btn btn-default btn-lg">Bandeja de Pedidos </button>
          </div>
          <div class="col-md-3"> 
           <br />
           <img class="img-responsive img-thumbnail"  width="120" height= "80" title="scarlet" src="./public/assets/img/users/user.jpg"></img>
           <br />
           <input type="date" class="input-group-text">
           <span class="input">
             <button class="btn btn-primary btn-lg glyphicon glyphicon-calendar"></button>
           </span>
          </div>
</div>
</div>
<br />
<div class="container" style="border-style: solid; border-color:#48c; border-radius:3px"> 
    <div class="row"> 
    <br />
          <div class="col-md-2"> 
          </div>
          <div class="col-md-8"> 
         <div class="table-responsive table table-striped">
            <table class="table ">
              <tr>
                <td class="success">FECHA</td>
              </tr>
              <tr>
                <td class="info">12/12/2015</td>
              </tr>
              <tr>
                <td class="">02/07/2015</td>
              </tr>
              <tr>
                <td class="info">01/09/2015</td>
              </tr>
            </table>
          </div>
         </div>
          <div class="col-md-2"></div>
    </div>
  </div>



