<div class="container">
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="sysadmin">Control de pedidos</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="sysadmin.newuser">reguistrar nuevo usuario</a></li>
      
        <li><a ng-click="cerrarSession()">cerrar session</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <div ui-view>
   
<div class="container">
  <ul class="nav nav-tabs"> 
  <li class="active"><a data-toogle="tab" >listar pedido</a>

 
  </li>
  <li><a  href="">Historial de Pedidos</a></li>
  <li> <a href="">Pedidos </a></li>
  </ul>
  <table class="table">

  <tr><td class="">Detalle</td><td class="">Fecha</td><td class=""><td>Accion</td></tr>
  <tr><td class="">123</td><td class="">12/12/2015</td><td class=""><button class=" btn btn-primary">Aprovar</button></td><td><button class=" btn btn-danger">Denegar</button></td></tr>
  <tr><td class="">123</td><td class="">02/02/2010</td><td class=""><button class=" btn btn-primary">Aprobar</button></td><td><button class=" btn btn-danger">Denegar</button></td></tr>

   <tr></tr>
   <tr></tr>
</table>
</div>

  </div>
</div> <!-- /container -->
