<!DOCTYPE html>
<html lang="es">
</div>
<center>
	<div id="centro">
		
	</div>
</center>

</body>
<head>
<meta charset="utf-8">
<title>Menú desplegable con html5 y css3</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<nav id='menu'>
<ul>
<li><a href='#'>UAB</a></li>
<li><a href='#'>Pedidos Internacionales</a>
<ul>
<li><a href='#'>Realizar Pedidos</a>
<ul>
<li><a href='#'>Costos</a></li>
<li><a href='#'>Descuentos</a></li>
</ul>
</li>
<li><a href='#'>Bandeja de Pedidos</a>
<ul>
<li><a href='#'><span>Reclamos</a></li>
<li><a href='#'>Entregas</a></li>
</ul>
</li>
</ul>
</li>
<li><a href='#'>Ingresos Anticipados </a></li>
<li><a href='#'>Egresos</a></li>
</ul>
</nav>
<br>
<p align="rigth">Pablo Paco</p>
<img src="eje.png"
	width="200"  height="300" style="float:right" hspace="25" vspace="0"/>
<br>
<br>
<br>
<div class="testbox">
<p id="texto">REGISTRAR PEDIDOS INTERDEPARTAMENTALES</p>
</br>
</body>
</html>