body {
  min-height: 800px;
  padding-top: 70px;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
 .thumbnail{
    width: 200px;
    height: 300px;
    overflow: auto;
}

.thumbnail img{
width: 150px;
    height: 120px;
}
.center{
    text-align: center;
