  <div class="jumbotron">
    <div>
      <b><h3 class="center">Editar Categoria</h3></b>

        <form class="form-horizontal" ng-controller="categoryProductController">
          <div class="form-group" >
            <label for="descripcion" class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-4">
              <input type="text" ng-model="item.DESCRIPCION"  value="" class="form-control"  placeholder="Nombre de Categoria">
            </div>
          </div>
          
            <div style="display: block;text-align: center;background-color: transparent" >
                <a ng-click="updateCategory(item)" class="btn btn-small btn-success">
                <span class="glyphicon glyphicon-ok"></span> Actualizar</a>
                <a ng-click="cancel()" class="btn btn-small btn-danger">
                <span class="glyphicon glyphicon-remove"> Cancelar</a>
                
            </div>
          
        </form>
    </div>      
  </div>        